[submodule "64bit Stack smashing - superkojiman/ifunc-dumper"]
	path = 64bit Stack smashing - superkojiman/ifunc-dumper
	url = https://github.com/ZetaTwo/ifunc-dumper.git
[submodule "Report"]
	path = Report
	url = git@github.com:florianhofhammer/stack-buffer-overflow-internship-report.git
